<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>联系方式</title>
    <link
            rel="icon"
            href='{{ url_for("static", filename="picture/index.ico") }}'
            type="image/x-icon"
    />
</head>
<body>
<p>贴吧：</p>
<p>🎀Admire😈		<a href='https://tieba.baidu.com/home/main?id=tb.1.1e1bb5f8._oTizPuMkZjpdOI6Dr4GDg' target='_blank' title='关注嘉然，顿顿解馋'>点击这里</a></p>

<hr />
<p>邮箱：</p>
<p><img src="https://rescdn.qqmail.com/zh_CN/htmledition/images/2023_logo635751.png" alt="Dilettante258@qq.com" style="zoom:50%;" /></p>
<p><a href='mailto:dilettante258@qq.com' target='_blank' class='url'>dilettante258@qq.com</a></p>
<hr />
<p>电话：</p>
<p>+1 705 414 9855</p>
<div class="footer bgw">
    <a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备2023111111号-1</a>
    </div>
</body>
</html>